/*====================================================================================================================================================================================*/
/*NEWSLETTERS.HTML*/
/*====================================================================================================================================================================================*/
.accordion {
    overflow-y: auto;
}

#accordionExample .card-body {
    padding: 1rem 1.25rem 3rem 1.25rem;
}

#accordionExample .card-body img:not(:only-child) {
    float: left;
    margin-right: 1rem;
}

#accordionExample .card-body .paragraph {
    display: flex;
    flex-direction: column;
}

#accordionExample .card-body .paragraph span a {
    font-size: 0.8rem;
    color: #000000;
    font-family: "Times New Roman";
    font-style: normal;
}

#accordionExample .card-body .paragraph span {
    padding-bottom: 0.5rem;
    font-style: italic;
}

#accordionExample .card-body .paragraph span, .content div header {
    padding-top: 2rem;
    font-weight: bold;
}

#accordionExample .card:last-of-type .collapse {
    border: none;
}

@media only screen and (max-width: 450px) {
    #accordionExample .card-body img:not(:only-child) {
        float: none;
        display: block;
        margin: 0 auto;
    }
}

/*====================================================================================================================================================================================*/
/*CAROUSAL*/
/*====================================================================================================================================================================================*/

#flat ul li, #flat2 ul li {
    width: 14%;
    height: auto;
}

#flat ul li img, #flat2 ul li img {
    border: 2px solid rgb(54, 202, 202);
}

#bigPicture img, #bigPicture2 img {
    display: block;
    margin: 0 auto;
    width: 30%;
}

#flat .active, #flat2 .active {
    border: 0.3rem solid rgb(6, 172, 172);
}
